<div class="main_page">
    <img class='main_page_photo' src='assets/main1.jpg'>
    <img class='main_page_photo' src='assets/main2.jpg'>
    <img class='main_page_photo' src='assets/main3.jpg'>
    <img class='main_page_photo' src='assets/main4.jpg'>
    <img class='main_page_photo' src='assets/main5.jpg'>
    <img class='main_page_photo' src='assets/main6.jpg'>
    <img class='main_page_photo' src='assets/main7.jpg'>
    <img class='main_page_photo' src='assets/main8.jpg'>
    <img class='main_page_photo' src='assets/main9.jpg'>
    <img class='main_page_photo' src='assets/main10.jpg'>
    <img class='main_page_photo' src='assets/main11.jpg'>
    <img class='main_page_photo' src='assets/main12.jpg'>
</div>
